* {
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "helvetica";
  font-size: 1.1em;
}

#main-container > h1 {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  font-weight: inherit;
  font-size: inherit;
  padding: 1rem 1rem 1rem calc(4rem + 1ch);
  background: white;
  z-index: 100;
  box-shadow: 0 0.3em 1em 0 rgba(0, 0, 0, 0.03);
  margin: 0;
}

#main-container > h1 > a {
  color: inherit;
  text-decoration: inherit;
}

code {
  font-family: monospace;
  background: lightgray;
}

#main-container > ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.prev-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
}
.prev-button>a {
  color: inherit;
  line-height: 1rem;
  text-decoration: inherit;
  font-size: 1.6rem;
}

:checked + label {
  opacity: 0.1;
  /* background: rgba(0,0,0,.1); */
}

label {
  display: flex;
  /* padding: 1em; */
  /* box-sizing: border-box; */
}

.item {
  flex: 1 0 auto;
  box-sizing: border-box;
}

.item,
summary {
  padding: 1em 1em 1em 0;
}

#main-container > ul > li:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.03);
}

#main-container > ul > li > label:hover,
#main-container > ul > li > label:focus {
  outline: 1px solid black;
  outline-offset: -1px;
  -webkit-box-shadow: none;
}

.btn-more {
  display: inline-block;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

summary {
  outline: none;
  cursor: pointer;
}

ul {
  margin-block-start: 0;
}

details {
  width: 100%;
}

details > ul {
  margin-bottom: 1em;
}

.checkbox {
  flex: 0 0 auto;
  cursor: pointer;
  margin: 1em;
  order: -1;
  box-shadow: 0 0 0 1px black;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  position: relative;
}

.checkbox > .check {
  top: -15%;
  left: 25%;
  position: absolute;
  width: 50%;
  height: 100%;
  transform: rotate(45deg);
}
:checked + label > .checkbox {
  background: black;
}

:checked + label > .checkbox > .check {
  display: block;
  box-shadow: inset -1px -1px white;
}

#templates {
  display: none;
}
